#paginator
  padding 10px 0
  font-size 20px
  color $grey
  border-top 1px solid $grey
  border-bottom 1px solid $grey
  a
    text-decoration none
    color $grey
    transition all .5s
    &:hover
      color $blue
  .extend
  .space
    font-family FontAwesome
  .current
    color $blue
