#paginator
  padding 10px 0
  font-size 20px
  color $grey
  a
    display inline-block
    text-decoration none
    color $grey
    transition all .5s
    &:hover
      color $blue
  span
    display inline-block
  .extend
  .space
    font-family FontAwesome
  .page-number
    padding 0 5px
    margin 0 10px
  .current
    color $blue
    font-size 30px
