#paginator
  padding 10px 0
  font-size 20px
  color #828282
  a
    display inline-block
    text-decoration none
    color #828282
    transition all .5s
    &:hover
      color black
  span
    display inline-block
  .extend
  .space
    font-family FontAwesome
  .page-number
    padding 0 5px
    margin 0 10px
  .current
    color black
    font-size 30px
