@import 'nib'
@import '_partial/variables'
@import '_partial/global'
@import '_partial/header'
@import '_partial/footer'
@import '_partial/artical'
@import '_partial/artical-footer'
@import '_partial/post-list'
@import '_partial/paginator'
