@keyframes left-slide-in
  from
    transform translateX(-50%)
  to
    transform translateX(0)

@keyframes right-slide-in
  from
    transform translateX(50%)
  to
    transform translateX(0)

@keyframes fade-in
  from
    opacity 0
  to
    opacity 1
