#re-post
  margin 50px 0 30px 0
  font-size 16px
  a
    color $blue

#goto
  clearfix()
  a
    font-size 30px
    text-decoration none
    color $blue
    vertical-align sub
    transition all 0.5s
    &:hover
      transform rotateX(180deg)
      color $yellow
  span
    font-size 20px
    color $blue
  .prev
    float left
  .next
    float right
