.site-header
  max-width 768px
  margin 0 auto 40px auto
  padding 10px
  box-sizing border-box
  display flex
  justify-content space-between
  align-items center
  .site-title
    font-size 25px
    font-weight 200
    padding 0 20px
    position relative
    &:before
    &:after
      content ''
      display block
      position absolute
      width 100%
      height 2px
      background #333
      left 0
    &:before
      top 0
      animation left-slide-in 1s, fade-in 1s
    &:after
      bottom 0
      animation right-slide-in 1s, fade-in 1s
  .menu
    a
      margin-right 20px
      &:last-child
        margin-right 0
