.post-detail
  .post-title
    font-size 25px
    text-align center
  .post-meta
    text-align center
    margin-bottom 100px
    > div
      display inline-block
      margin-right 20px
      &:last-child
        margin-right 0
    .date
      color #555
    .tags
      a
        margin-right 10px
        border-bottom 1px solid #999
        transition all .3s
        &:last-child
          margin-right 0
        &:hover
          color #000
          border-bottom-color #000
        .icon
          margin-right 2px
  .post-content
    > *
      margin 0 0 20px 0
      &:last-child
        margin-bottom 0
    img
      max-width 100%
      height auto
      display block
      margin-left auto
      margin-right auto
      box-shadow 0 0 10px 2px rgba(0, 0, 0, .5)
    h1
      font-size 24px
    h2, h3, h4, h5, h6
      font-size 20px
    blockquote
      font-style italic
      font-weight 100
      color #555
      background #fafafa
      padding 20px
      border-left 2px solid #333
      > *
        margin 0
    code
      color #555
      background #eee
      padding 2px 4px
      border-radius 4px
    a
      transition all 0.5s
      border-bottom 1px solid #999
      &:hover
        color #000
        border-bottom-color #000
    ol, ul
      padding-left 20px
    .highlight
      background #474949
      color #d1d9e1
      padding 10px
      overflow-x auto
      pre
        margin 0
        font-family "Source Code Pro", monospace
      .gutter
        color #969896
        padding-right 20px
      .code
        .comment
        .quote
          color #969896
          font-style italic

        .keyword
        .selector-tag
        .literal
        .type
        .addition
          color #cc99cc

        .number
        .selector-attr
        .selector-pseudo
          color #f99157

        .string
        .doctag
        .regexp
          color #8abeb7

        .title
        .name
        .section
        .built_in
          color #b5bd68

        .variable
        .template-variable
        .selector-id
        .class .title
          color #ffcc66

        .section
        .name
        .strong
          font-weight bold

        .symbol
        .bullet
        .subst
        .meta
        .link
          color #f99157

        .deletion
          color #dc322f

        .formula
          background #eee8d5

        .attr
        .attribute
          color #81a2be

        .emphasis
          font-style italic
