.posts-index
  .post-item
    border-bottom 1px dashed #999
    margin-bottom 40px
    padding-bottom 40px
    &:last-child
      border-bottom none
      margin-bottom 0
    .title
      font-size 20px
    .meta
      margin-bottom 10px
      > div
        display inline-block
        margin-right 20px
        &:last-child
          margin-right 0
      .date
        color #555
    .excerpt
      margin-bottom 10px
    .tags
      font-size 12px
      a
        margin-right 10px
        border-bottom 1px solid #999
        transition all .3s
        &:last-child
          margin-right 0
        &:hover
          color #000
          border-bottom-color #000
        .icon
          margin-right 2px
