<ul class="post-list">
  <% page.posts && page.posts.forEach(function(post) { %>
    <li class="post-item">
      <%- partial('_partial/artical', {artical: post, excerpt: true}) %>
    </li>
  <% }) %>
</ul>
<div id="paginator">
  <%- paginator({
    prev_text: '\uf137',
    next_text: '\uf138',
    space: '\uf141',
    end_size: 1,
    mid_size: 1
  }) %>
</div>
