<!DOCTYPE html>
<html>
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <%- partial('_partial/side-bar') %>
    <div id="main">
      <div id="main-wrap">
        <%- body %>
      </div>
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>
