<div id="goto">
  <% if (page.prev) { %>
    <div class="prev">
      <a class="fa fa-chevron-circle-left" href="<%- url_for(page.prev.path) %>"></a>
      <span><%- page.prev.title %></span>
    </div>
  <% } %>
  <% if (page.next) { %>
    <div class="next">
      <span><%- page.next.title %></span>
      <a class="fa fa-chevron-circle-right" href="<%- url_for(page.next.path) %>"></a>
    </div>
  <% } %>
</div>
