<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<%- css(['css/source-code-pro', 'css/font-awesome', 'css/style']) %>
<%- favicon_tag('favicon.ico') %>
<%- feed_tag('atom.xml') %>
<title><%- config.title %></title>
