//- <div id="paginator">
//-   <%- paginator({
//-     prev_text: '\uf137',
//-     next_text: '\uf138',
//-     space: '\uf141',
//-     end_size: 1,
//-     mid_size: 1
//-   }) %>
//- </div>
extends partial/layout

block main
  .posts-index
    - page.posts && page.posts.forEach(post => {
        .post-item
          .title
            a(href=url_for(post.path))= post.title
          .meta
            .date
              i.icon.ion-calendar
              = date(post.date, ` ${config.date_format} `)
          .excerpt= truncate(strip_html(post.content), { length: 200 })
          .tags
            - post.tags && post.tags.forEach(tag => {
              a(href=url_for(tag.path))
                i.icon.ion-pound
                = tag.name
            - })
    - })
