//- <ul id="post-list">
//-   <% page.posts && page.posts.forEach(function(post) { %>
//-     <li class="post-item">
//-       <div class="post-item-title">
//-         <a href="<%- url_for(post.path) %>"><%- post.title %></a>
//-       </div>
//-       <div class="post-item-meta">
//-         <span class="date"><%- date(post.date, config.date_format) %></span>
//-         <% post.tags && post.tags.forEach(function(tag) { %>
//-           <a class="fa fa-tag tag" href="<%- url_for(tag.path) %>"><%- tag.name %></a>
//-         <% }) %>
//-       </div>
//-     </li>
//-   <% }) %>
//- </ul>
//- <div id="paginator">
//-   <%- paginator({
//-     prev_text: '\uf137',
//-     next_text: '\uf138',
//-     space: '\uf141',
//-     end_size: 1,
//-     mid_size: 1
//-   }) %>
//- </div>
extends partial/layout

block main
  h1 Index Page
