//- <div id="paginator">
//-   <%- paginator({
//-     prev_text: '\uf137',
//-     next_text: '\uf138',
//-     space: '\uf141',
//-     end_size: 1,
//-     mid_size: 1
//-   }) %>
//- </div>
extends partial/layout

block main
  .posts-index
    - page.posts && page.posts.forEach(post => {
        .post-item= post.title
    - })
