global-reset()

html
body
  font-size 14px
  font-weight normal
  font-family "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
  color $black
  background $white

#main
  max-width $break-point
  margin 0 auto
  box-sizing border-box
  padding 20px 20px 0 20px

#content-wrap
  margin-bottom 100px
