//- <div class="artical">
//-   <div class="artical-title"><%- artical.title %></div>
//-   <div class="artical-meta">
//-     <span class="date"><%- date(artical.date, config.date_format) %></span>
//-     <% artical.tags && artical.tags.forEach(function(tag) { %>
//-       <a class="fa fa-tag tag" href="<%- url_for(tag.path) %>"><%- tag.name %></a>
//-     <% }) %>
//-   </div>
//-   <div class="artical-entry">
//-     <%- artical.content %>
//-   </div>
//- </div>
