meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=Edge, chrome=1")
meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
!= css(['css/normalize', 'css/source-code-pro', 'css/ionicons', 'css/style'])
!= feed_tag('atom.xml')

title= page.title ? page.title + ' | ' + config.title : config.title

-
  var keywords = config.keywords
  if (page.tags) {
    keywords = keywords.concat(page.tags.map(function (tag) {
      return tag.name
    }))
  }
meta(name="keywords", content=keywords.join(','))

-
  var description = config.description
  if (page.content) {
    description = truncate(strip_html(page.content), { length: 200 })
  }
meta(name="description", content=description)
